<footer class="site-footer">
    <div class="wrapper">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
            is
            maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Copyright © 2020 Fyre Solutions INC.</span>
        <ul class="socialicon">
            <li class="facebook" title="Facebook">
                <svg focusable="false" aria-hidden="true" role="presentation">
                    <use xlink:href="#icon-facebook"></use>
                </svg>
            </li>
            <li class="twitter" title="Twitter">
                <svg focusable="false" aria-hidden="true" role="presentation">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
            </li>
            <li class="linkedin" title="LinkedIn">
                <svg focusable="false" aria-hidden="true" role="presentation">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
            </li>
        </ul>
    </div>
</footer>