.site-header {
    min-height: 100px;
    background-color: #14e348;
}

.site-title {
    font-weight: 500;
    line-height: 85px;
    font-size: 32px;
    font-family: Orbitron;
}

.site-footer {
    background-color: #14e348;
}

.page-content {
    background-color: #cafcfc;
}

.socialicon {
    list-style: none;
    float: right;
}

.socialicon svg {
    height: 36px;
    width: 36px;
    background-color: white;
    border-radius: 8px;
}

.socialicon li {
    float: left;
    margin: 10px;
}

.linkedin svg {
    fill: hsla(201, 100%, 35%, 1);
}

.facebook svg {
    fill: hsla(221, 44%, 41%, 1);
    color: white;
}

.twitter svg {
    fill: hsla(206, 82%, 63%, 1);
    color: white;
}

.site-footer-credits {
    line-height: 60px;
}

.logo .img {
    float: left
}

.logo .img img {
    height: 80px;
    margin: 10px 20px 0
}